[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-environ = "*"
djangorestframework = "*"
django-filter = "*"
django-autoslug = "*"
django-countries = "*"
pillow = "*"
django-phonenumber-field = "*"
phonenumbers = "*"
psycopg2-binary = "*"
flake8 = "*"
black = "*"
isort = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
pyjwt = "*"
celery = "*"
redis = "*"
flower = "*"
django-celery-email = "*"
pytest-django = "*"
pytest-factoryboy = "*"
faker = "*"
pytest-cov = "*"

[dev-packages]

[requires]
python_version = "3.10"
